// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./base";
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cookie&family=Fredericka+the+Great&family=Kalam:wght@300;400&family=Kaushan+Script&family=Love+Ya+Like+A+Sister&family=Maven+Pro:wght@400;500;600;800;900&family=Merienda:wght@300;400;500;600&family=Miniver&family=Niconne&family=Rubik+Moonrocks&display=swap');

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #adb1f5c5;
}
.container {
  width: 60vw;
  height: 60vh;
  background-color: rgba(236, 236, 227, 0.943);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 20px;
  .hangman-box{
    img{

      width: 20vw;
    }
    h1{
      font-family : "Bangers" ;
      text-align: center;
      color: rgb(56, 5, 197);
    }
  }
  .game-box {
    .word-display{
      display: flex;
      gap: 10px ;
      list-style: none;

      .letter{
        width: 4rem;
        margin-bottom: 2rem;
        border-bottom: 3px solid black;
      }
    }
  }
}